language = "bash"
run = "mcs -out:main.exe 'luisa testes/Carrinho (copy).cs' 'luisa testes/Produto (copy).cs' 'luisa testes/Program (copy).cs' 'luisa testes/Sistema (copy).cs' 'luisa testes/Cliente.cs' 'luisa testes/Usuario.cs'; mono main.exe"