language = "bash"
run = "mcs -out:main.exe 'Gordon Store/Arquivo.cs' 'Gordon Store/Carrinho.cs' 'Gordon Store/Produto.cs' 'Gordon Store/Program.cs' 'Gordon Store/Sistema.cs' 'Gordon Store/Usuario.cs' 'Gordon Store/Cliente.cs'; mono main.exe"